body {
    background: linear-gradient(160deg, #d97743, #bd6b4f, #7e7159);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.home {
    padding: 0px 10px;
    padding-bottom: 100px;
}

.hero {
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    color: #ffffff;
}

.hero h1 {
    font-size: max(4vw, 36px);
}

.hero p {
    width: 75%;
    line-height: 1.5;
    color: #f2f2f2;
    opacity: 0.95;
}


.hero form {
    padding: 8px;
    width: 80%;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.hero input {
    flex: 1;
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    background: none;
}

.hero button {
    border: none;
    background: #b2764f;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.hero button:hover {
    background: #8d5e3c;
}

.crypto-table {
    max-width: 1000px;
    margin: 50px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    background: linear-gradient(135deg, #e6ba9b, #ddb08c, #c99874);
    color: #442a18;
}


.table-layout {
    display: grid;
    grid-template-columns: 60px 2fr 1fr 1fr 2fr;
    padding: 16px 20px;
    align-items: center;
    border-bottom: 1px solid #8a5e45;
    font-size: 16px;
    transition: background 0.3s ease;
}

.table-layout:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: #1e1e1e; 
}


.table-header {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    color: #2a1b0e;
}


.market-cap {
    text-align: right;
}

.change {
    text-align: center;
    font-weight: bold;
}

.change.positive {
    color: #00ff99;
}

.change.negative {
    color: #ff4d4d;
}

.change.neutral {
    color: #cccccc;
}

@media (max-width:768px){
    .table-layout{
     grid-template-columns: 60px 2fr 1fr 1fr;
    }
    .market-cap{
      display:none;  
    }
}
@media (max-width: 500px){
    .table-layout div img{
        width: 25px;
    }
    .table-layout{
        font-size: 13px;
    }
    .hero form input{ 
     width:100px;
    }
}
